# Dependencies
node_modules
.pnp.*
.pnp.js

# Next.js
.next/
out/
build/

# Environment
.env
.env*.local
!env.local.example
supabase/env.local

# Testing
coverage/
.nitro
vitest.cache

# Misc
*.tsbuildinfo
.next-garbage*
